# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

node_modules
.DS_Store

## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Ignore Essays folder
examples/**
examplesCache/**

## Expect these files for example
!examples/haters.txt
!examples/having-kids.txt
!examples/five-founders.txt
!examples/hackers-and-painters.txt
!examples/do-things-that-dont-scale.txt

storage