# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

node_modules
.DS_Store

## Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

## Ignore Essays folder
examples/**
examplesCache/**

## Expect these files for example
!examples/self-promotion.txt
!examples/a-founders-anxiety.txt
!examples/happiness.txt
!examples/how-to-get-rich.txt
!examples/how-to-angel-invest-part-1.txt
!examples/how-to-angel-invest-part-2.txt
!examples/ideas-are-the-new-oil.txt



storage